{% extends widget.get_base_template %}

{% block content %}
<style type="text/css">
    .responstable th {
        background-color: {{ widget.colorth }};
    }
</style>
<script>
function countCircuit()
{
    var radius_def = document.getElementById("radius_def");
    var div_radius = document.getElementById("div_radius");
    var div_circuit = document.getElementById("div_circuit");

    if (radius_def.checkValidity() == false) {
        document.getElementById("warning-message").style.display = "block";
    } else {
        var radius = parseFloat(radius_def.value);
        var circuit = 2*Math.PI*radius;
        div_radius.innerHTML = radius.toLocaleString();
        div_circuit.innerHTML = circuit.toLocaleString();

        document.getElementById("radius").value = radius;
        document.getElementById("circuit").value = circuit;
        document.getElementById("section_2").style.display = "block";
        document.getElementById("section_1").style.display = "none";
        document.getElementById("area_count").style.display = "block";
        document.getElementById("back_radius").style.display = "block";
        document.getElementById("warning-message").style.display = "none";
    }
}

function countArea()
{
    var radius = parseFloat(document.getElementById("radius").value);
    var circuit = parseFloat(document.getElementById("circuit").value);
    var div_radius_two = document.getElementById("div_radius_two");
    var div_circuit_two = document.getElementById("div_circuit_two");
    var div_area = document.getElementById("div_area");
    var area = parseFloat(Math.PI)*Math.pow(radius,2);
    div_radius_two.innerHTML = radius.toLocaleString();
    div_circuit_two.innerHTML = circuit.toLocaleString();
    div_area.innerHTML = area.toLocaleString();

    document.getElementById("section_2").style.display = "none";
    document.getElementById("section_3").style.display = "block";
    document.getElementById("area_count").style.display = "none";
    document.getElementById("back_circuit").style.display = "block";
    document.getElementById("back_radius").style.display = "none";
    document.getElementById("warning-message").style.display = "none";
}

function BackToCircuit()
{
    var radius = parseFloat(document.getElementById("radius_def").value);
    var div_radius = document.getElementById("div_radius");
    var div_circuit = document.getElementById("div_circuit");
    var circuit = 2*Math.PI*radius;
    div_radius.innerHTML = radius.toLocaleString();
    div_circuit.innerHTML = circuit.toLocaleString();

    document.getElementById("radius").value = radius;
    document.getElementById("circuit").value = circuit;
    document.getElementById("section_1").style.display = "none";
    document.getElementById("section_2").style.display = "block";
    document.getElementById("section_3").style.display = "none";
    document.getElementById("area_count").style.display = "block";
    document.getElementById("back_circuit").style.display = "none";
    document.getElementById("back_radius").style.display = "block";
    document.getElementById("warning-message").style.display = "none";
}

function BackToRadius()
{
    document.getElementById("back_radius").style.display = "none";
    document.getElementById("section_1").style.display = "block";
    document.getElementById("section_2").style.display = "none";
    document.getElementById("section_3").style.display = "none";
    document.getElementById("area_count").style.display = "none";
    document.getElementById("back_circuit").style.display = "none";
    document.getElementById("warning-message").style.display = "none";
}


</script>
<div id="section_1">
<div style="display: none;" id="warning-message" class="alert alert-danger fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <label id="label_warning" for="radius_def">Please, fill out radius field</label>
</div>
<table class="responstable">
    <tr>
        <th style="width: 33%; background-color: {{ widget.colorthActive }}">Radius</th>
        <th style="width: 33%">Circuit <i class="fa fa-question-circle" aria-hidden="true"></i></th>
        <th style="width: 33%">Area <i class="fa fa-question-circle" aria-hidden="true"></i></th>
    </tr>

    <tr id="tr_awesome">
        <td><input placeholder="Enter a number" id="radius_def" min="0" type="number" onkeydown = "if (event.keyCode == 13)
                                    document.getElementById('circuit_count').click()" required> cm</td>
        <td> ??? </td>
        <td> ??? </td>
    </tr>
</table>
<input style="float: right" id="circuit_count" class="btn btn-primary" type="button" value="Count circuit" onClick="countCircuit()">
</div>

<input style="color: black" type="hidden" id="radius" value="" />
<input style="color: black" type="hidden" id="circuit" value="" />

<div style="display: none;" id="section_2">
<table class="responstable">
    <tr>
        <th style="width: 33%">Radius</th>
        <th style="width: 33%; background-color: {{ widget.colorthActive }}">Circuit <i class="fa fa-check" aria-hidden="true"></i></th>
        <th style="width: 33%">Area <i class="fa fa-question-circle" aria-hidden="true"></i></th>
    </tr>
    <tr>
        <td><i id="div_radius"></i> cm</td>
        <td><i id="div_circuit"></i> cm</td>
        <td> ??? </td>
    </tr>
</table>
</div>

<div style="display: none;" id="section_3">
<table class="responstable">
    <tr>
        <th style="width: 33%">Radius</th>
        <th style="width: 33%">Circuit <i class="fa fa-check" aria-hidden="true"></i></th>
        <th style="width: 33%; background-color: {{ widget.colorthActive }}">Area <i class="fa fa-check" aria-hidden="true"></i></th>
    </tr>
    <tr>
        <td><i id="div_radius_two"></i> cm</td>
        <td><i id="div_circuit_two"></i> cm</td>
        <td><i id="div_area"></i> cm<sup>2</sup></td>
    </tr>
</table>
</div>

<input id="area_count" style="display:none; float:right" class="btn btn-primary" type=button value="Count area of circle" onClick="countArea()">
<input id="back_circuit" style="display:none; float:left" class="btn btn-primary" type=button value="Back to circuit" onClick="BackToCircuit()">
<input id="back_radius" style="display:none; float:left" class="btn btn-primary" type=button value="Back to radius" onClick="BackToRadius()">

<script>
  document.getElementById('warning').innerHTML = 'Please, fill out this field.';
</script>

{% endblock content %}