{% extends widget.get_base_template %}

{% block content %}

<script>
function countCircuit()
{
    var part_def = document.getElementById("part_def");
    var div_part = document.getElementById("div_part");
    var a = parseFloat(part_def.value);
    var radius = a;
    div_part.innerHTML = radius.toLocaleString().replace(',',' ').replace(',',' ').replace(',',' ').replace(',',' ').replace(',',' ');
    var circuit = 2*Math.PI*radius;
    div_circuit.innerHTML = circuit.toLocaleString().replace(',',' ').replace(',',' ').replace(',',' ').replace(',',' ').replace(',',' ');

    document.getElementById("radius").value = radius;
    document.getElementById("circuit").value = circuit;
    document.getElementById("section_1").style.display = "none";
    document.getElementById("section_2").style.display = "block";
    document.getElementById("area_count").style.display = "block";
    document.getElementById("back_part").style.display = "block";
}

function countArea()
{
    var radius = parseFloat(document.getElementById("radius").value);
    var circuit = parseFloat(document.getElementById("circuit").value);
    document.getElementById("section_2").style.display = "none";
    document.getElementById("section_3").style.display = "block";
    div_part_two.innerHTML = radius.toLocaleString().replace(',',' ').replace(',',' ').replace(',',' ').replace(',',' ').replace(',',' ');
    div_circuit_two.innerHTML = circuit.toLocaleString().replace(',',' ').replace(',',' ').replace(',',' ').replace(',',' ').replace(',',' ');
    var area = parseFloat(Math.PI)*Math.pow(radius,2);
    div_area.innerHTML = area.toLocaleString().replace(',',' ').replace(',',' ').replace(',',' ').replace(',',' ').replace(',',' ');
    document.getElementById("area_count").style.display = "none";
    document.getElementById("back_circuit").style.display = "block";
    document.getElementById("back_part").style.display = "none";
}

function countDiagonal()
{
    var radius = parseFloat(document.getElementById("radius").value);
    var circuit = parseFloat(document.getElementById("circuit").value);
    document.getElementById("section_2").style.display = "none";
    document.getElementById("section_3").style.display = "block";
    div_part_two.innerHTML = radius.toLocaleString().replace(',',' ').replace(',',' ').replace(',',' ').replace(',',' ').replace(',',' ');
    div_circuit_two.innerHTML = circuit.toLocaleString().replace(',',' ').replace(',',' ').replace(',',' ').replace(',',' ').replace(',',' ');
    var area = parseFloat(Math.PI)*Math.pow(radius,2);
    div_area.innerHTML = area.toLocaleString().replace(',',' ').replace(',',' ').replace(',',' ').replace(',',' ').replace(',',' ');
    document.getElementById("area_count").style.display = "none";
    document.getElementById("back_circuit").style.display = "block";
    document.getElementById("back_part").style.display = "none";
}

function BackToCircuit()
{
    var part_def = document.getElementById("part_def");
    var div_part =document.getElementById("div_part");
    var a = parseFloat(part_def.value);
    var radius = a;
    div_part.innerHTML = radius.toLocaleString().replace(',',' ').replace(',',' ').replace(',',' ').replace(',',' ').replace(',',' ');
    var circuit = 2*Math.PI*radius;
    div_circuit.innerHTML = circuit.toLocaleString().replace(',',' ').replace(',',' ').replace(',',' ').replace(',',' ').replace(',',' ');

    document.getElementById("radius").value = radius;
    document.getElementById("circuit").value = circuit;
    document.getElementById("section_1").style.display = "none";
    document.getElementById("section_2").style.display = "block";
    document.getElementById("section_3").style.display = "none";
    document.getElementById("area_count").style.display = "block";
    document.getElementById("back_circuit").style.display = "none";
    document.getElementById("back_part").style.display = "block";
}

function BackToRadius()
{
    document.getElementById("back_part").style.display = "none";
    document.getElementById("section_1").style.display = "block";
    document.getElementById("section_2").style.display = "none";
    document.getElementById("section_3").style.display = "none";
    document.getElementById("area_count").style.display = "none";
    document.getElementById("back_circuit").style.display = "none";
}

</script>
<div id="section_1">
<h4>Part</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <td style="width: 40%;padding: 4px 8px; font-weight: bold">Part:</td>
            <td style="padding: 4px 8px; font-weight: bold"><input minlength="1" min="0" style="color: black" type="number" onkeydown = "if (event.keyCode == 13)
                                document.getElementById("circuit_count').click()" id="part_def" required> cm</td>
        </tr>
    </thead>
</table>
<input style="float: right" id="circuit_count" class="btn btn-default" type="button" value="Count circuit" onClick="countCircuit()">
</div>

<input style="color: black" type="hidden" id="radius" value="" />
<input style="color: black" type="hidden" id="circuit" value="" />

<div style="display: none;" id="section_2">
<h4>Part <i class="fa fa-angle-right" aria-hidden="true"></i> Circuit</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <td style="padding: 4px 8px; font-weight: bold">Part:</td>
            <td style="padding: 4px 8px; font-weight: bold"><i id="div_part"></i> cm</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="padding: 4px 8px">Circuit:</td>
            <td style="padding: 4px 8px"><i id="div_circuit"></i> cm</td>
        </tr>
    </tbody>
</table>

</div>

<div style="display: none;" id="section_3">
<h4>Part <i class="fa fa-angle-right" aria-hidden="true"></i> Circuit <i class="fa fa-angle-right" aria-hidden="true"></i> Area</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <td style="padding: 4px 8px; font-weight: bold">Part:</td>
            <td style="padding: 4px 8px; font-weight: bold"><i id="div_radius_two"></i> cm</td>
        </tr>
        <tr>
            <td style="padding: 4px 8px; font-weight: bold">Circuit:</td>
            <td style="padding: 4px 8px; font-weight: bold"><i id="div_circuit_two"></i> cm</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="padding: 4px 8px">Area:</td>
            <td style="padding: 4px 8px"><i id="div_area"></i> cm<sup>2</sup></td>
        </tr>
    </tbody>
</table>
</div>
<input id="area_count" style="display:none; float:right" class="btn btn-default" type=button value="Count area of square" onClick="countArea()">
<input id="back_circuit" style="display:none; float:left" class="btn btn-default" type=button value="Back to circuit" onClick="BackToCircuit()">
<input id="back_part" style="display:none; float:left" class="btn btn-default" type=button value="Back to part" onClick="BackToRadius()">

{% endblock content %}