{% extends widget.get_base_template %}

{% block content %}
<style type="text/css">
    .responstable th {
        background-color: {{ widget.colorth }};
    }
    .responstable input[type=number] {
        border-bottom: 2px solid {{ widget.colorth }};
    }
</style>
<script>
function countSquareCircuit()
{
    var part_square_def = document.getElementById("part_square_def");
    var div_part_square = document.getElementById("div_part_square");
    var div_circuit_square = document.getElementById("div_circuit_square");

    if (part_square_def.checkValidity() == false) {
        document.getElementById("warning-message-square").style.display = "block";
    } else {
        var part = parseFloat(part_square_def.value);
        var circuit = 4*part;
        div_part_square.innerHTML = part.toLocaleString();
        div_circuit_square.innerHTML = circuit.toLocaleString();

        document.getElementById("part_square").value = part;
        document.getElementById("circuit_square").value = circuit;
        document.getElementById("section_1_square").style.display = "none";
        document.getElementById("section_2_square").style.display = "block";
        document.getElementById("area_count_square").style.display = "block";
        document.getElementById("back_part_square").style.display = "block";
        document.getElementById("warning-message-square").style.display = "none";
    }
}

function countSquareArea()
{
    var part = parseFloat(document.getElementById("part_square").value);
    var circuit = parseFloat(document.getElementById("circuit_square").value);
    var area = part*part;
    div_part_square_two.innerHTML = part.toLocaleString();
    div_circuit_square_two.innerHTML = circuit.toLocaleString();
    div_area_square.innerHTML = area.toLocaleString();
    document.getElementById("section_2_square").style.display = "none";
    document.getElementById("section_3_square").style.display = "block";
    document.getElementById("area_count_square").style.display = "none";
    document.getElementById("diagonal_count_square").style.display = "block";
    document.getElementById("back_circuit_square").style.display = "block";
    document.getElementById("back_part_square").style.display = "none";
    document.getElementById("area_square").value = area;
    document.getElementById("warning-message-square").style.display = "none";
}

function countSquareDiagonal()
{
    var part = parseFloat(document.getElementById("part_square").value);
    var circuit = parseFloat(document.getElementById("circuit_square").value);
    var area = parseFloat(document.getElementById("area_square").value);
    var diagonal = part*Math.sqrt(2);
    div_part_square_three.innerHTML = part.toLocaleString();
    div_circuit_square_three.innerHTML = circuit.toLocaleString();
    div_area_square_two.innerHTML = area.toLocaleString();
    div_diagonal.innerHTML = diagonal.toLocaleString();
    document.getElementById("section_3_square").style.display = "none";
    document.getElementById("section_4_square").style.display = "block";
    document.getElementById("area_count_square").style.display = "none";
    document.getElementById("diagonal_count_square").style.display = "none";
    document.getElementById("back_area_square").style.display = "block";
    document.getElementById("back_circuit_square").style.display = "none";
    document.getElementById("back_part_square").style.display = "none";
    document.getElementById("warning-message-square").style.display = "none";
}

function BackToSquarePart()
{
    document.getElementById("back_part_square").style.display = "none";
    document.getElementById("section_1_square").style.display = "block";
    document.getElementById("section_2_square").style.display = "none";
    document.getElementById("section_3_square").style.display = "none";
    document.getElementById("area_count_square").style.display = "none";
    document.getElementById("back_circuit_square").style.display = "none";
    document.getElementById("diagonal_count_square").style.display = "none";
    document.getElementById("warning-message-square").style.display = "none";
}

function BackToSquareCircuit()
{
    var part = document.getElementById("part_square").value;
    var circuit = document.getElementById("circuit_square").value;
    div_part_square.innerHTML = part.toLocaleString();
    div_circuit_square.innerHTML = circuit.toLocaleString();

    document.getElementById("part_square").value = part;
    document.getElementById("circuit_square").value = circuit;
    document.getElementById("section_1_square").style.display = "none";
    document.getElementById("section_2_square").style.display = "block";
    document.getElementById("section_3_square").style.display = "none";
    document.getElementById("area_count_square").style.display = "block";
    document.getElementById("back_circuit_square").style.display = "none";
    document.getElementById("back_part_square").style.display = "block";
    document.getElementById("diagonal_count_square").style.display = "none";
    document.getElementById("warning-message-square").style.display = "none";
}


function BackToSquareArea()
{
    document.getElementById("back_part_square").style.display = "none";
    document.getElementById("section_1_square").style.display = "none";
    document.getElementById("section_2_square").style.display = "none";
    document.getElementById("section_3_square").style.display = "block";
    document.getElementById("section_4_square").style.display = "none";
    document.getElementById("area_count_square").style.display = "none";
    document.getElementById("back_circuit_square").style.display = "block";
    document.getElementById("back_area_square").style.display = "none";
    document.getElementById("diagonal_count_square").style.display = "block";
    document.getElementById("warning-message-square").style.display = "none";
}

</script>
<div id="section_1_square">
<div style="display: none;" id="warning-message-square" class="alert alert-danger fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <label id="label_warning" for="part_square_def">Please, fill out part field correctly</label>
</div>
<table class="responstable">
    <tr>
        <th style="width: 25%; background-color: {{ widget.colorthActive }}">Part (cm)</th>
        <th style="width: 25%">Circuit (cm) <i class="fa fa-question-circle" aria-hidden="true"></i></th>
        <th style="width: 25%">Area (cm<sup>2</sup>) <i class="fa fa-question-circle" aria-hidden="true"></i></th>
        <th style="width: 25%">Diagonal (cm) <i class="fa fa-question-circle" aria-hidden="true"></i></th>
    </tr>
    <tr id="tr_awesome">
        <td><input placeholder="Enter a number" id="part_square_def" min="0" type="number" step="0.0000000001" onkeydown = "if (event.keyCode == 13)
                                    document.getElementById('circuit_count_square').click()" required></td>
        <td> ??? </td>
        <td> ??? </td>
        <td> ??? </td>
    </tr>
</table>
<input style="float: right" id="circuit_count_square" class="btn btn-default" type="button" value="Count circuit of square" onClick="countSquareCircuit()">
</div>

<input style="color: black" type="hidden" id="part_square" value="" />
<input style="color: black" type="hidden" id="circuit_square" value="" />
<input style="color: black" type="hidden" id="area_square" value="" />

<div style="display: none;" id="section_2_square">
<table class="responstable">
    <tr>
        <th style="width: 25%">Part (cm)</th>
        <th style="width: 25%; background-color: {{ widget.colorthActive }}">Circuit (cm) <i class="fa fa-check" aria-hidden="true"></i></th>
        <th style="width: 25%">Area (cm<sup>2</sup>) <i class="fa fa-question-circle" aria-hidden="true"></i></th>
        <th style="width: 25%">Diagonal (cm) <i class="fa fa-question-circle" aria-hidden="true"></i></th>
    </tr>
    <tr id="tr_awesome">
        <td><i id="div_part_square"></i></td>
        <td><i id="div_circuit_square"></i></td>
        <td> ??? </td>
        <td> ??? </td>
    </tr>
</table>
</div>

<div style="display: none;" id="section_3_square">
<table class="responstable">
    <tr>
        <th style="width: 25%">Part (cm)</th>
        <th style="width: 25%">Circuit (cm) <i class="fa fa-check" aria-hidden="true"></i></th>
        <th style="width: 25%; background-color: {{ widget.colorthActive }}">Area (cm<sup>2</sup>) <i class="fa fa-check" aria-hidden="true"></i></th>
        <th style="width: 25%">Diagonal (cm) <i class="fa fa-question-circle" aria-hidden="true"></i></th>
    </tr>
    <tr id="tr_awesome">
        <td><i id="div_part_square_two"></i></td>
        <td><i id="div_circuit_square_two"></i></td>
        <td><i id="div_area_square"></i></td>
        <td> ??? </td>
    </tr>
</table>
</div>

<div style="display: none;" id="section_4_square">
<table class="responstable">
    <tr>
        <th style="width: 25%">Part (cm)</th>
        <th style="width: 25%">Circuit (cm) <i class="fa fa-check" aria-hidden="true"></i></th>
        <th style="width: 25%">Area (cm<sup>2</sup>) <i class="fa fa-check" aria-hidden="true"></i></th>
        <th style="width: 25%; background-color: {{ widget.colorthActive }}">Diagonal (cm) <i class="fa fa-check" aria-hidden="true"></i></th>
    </tr>
    <tr id="tr_awesome">
        <td><i id="div_part_square_three"></i></td>
        <td><i id="div_circuit_square_three"></i></td>
        <td><i id="div_area_square_two"></i></td>
        <td><i id="div_diagonal"></i></td>
    </tr>
</table>
</div>

<input id="area_count_square" style="display:none; float:right" class="btn btn-default" type=button value="Count area of square" onClick="countSquareArea()">
<input id="diagonal_count_square" style="display:none; float:right" class="btn btn-default" type=button value="Count diagonal of square" onClick="countSquareDiagonal()">

<input id="back_circuit_square" style="display:none; float:left" class="btn btn-default" type=button value="Back to circuit" onClick="BackToSquareCircuit()">
<input id="back_area_square" style="display:none; float:left" class="btn btn-default" type=button value="Back to area" onClick="BackToSquareArea()">
<input id="back_part_square" style="display:none; float:left" class="btn btn-default" type=button value="Back to part" onClick="BackToSquarePart()">

{% endblock content %}