/* Using box shadows to create 3D effects */
#calculator {
    width: 325px;
    height: auto;
    
    margin: 100px auto;
    padding: 20px 20px 9px;
    
    background: transparent linear-gradient(#059cba, #026e82) repeat scroll 0% 0%;
    border-radius: 3px;
    box-shadow: 0px 4px #043C30, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

/* Top portion */
.top span.clear {
    float: left;
}

/* Inset shadow on the screen to create indent */
.top .screen {
    height: 40px;
    width: 212px;
    
    float: right;
    
    padding: 0 10px;
    
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
    
    /* Typography */
    font-size: 17px;
    line-height: 40px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: right;
    letter-spacing: 1px;
}

/* Clear floats */
.keys, .top {
    overflow: hidden;
}

/* Applying same to the keys */
.keys span, .top span.clear {
    float: left;
    position: relative;
    top: 0;
    font-family: Tahoma;
    
    cursor: pointer;
    
    width: 66px;
    height: 36px;
    
    background: white;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    
    margin: 0 7px 11px 0;
    
    color: #000;
    line-height: 36px;
    
    /* prevent selection of text inside keys */
    user-select: none;
    
    /* Smoothing out hover and active states using css3 transitions */
    transition: all 0.2s ease;
}

/* Remove right margins from operator keys */
/* style different type of keys (operators/evaluate/clear) differently */
.keys span.operator {
    background: #FFF0F5;
    margin-right: 0;
}

.keys span.eval {
    background: #f1ff92;
    box-shadow: 0px 4px #9da853;
    color: #000;
}

.top span.clear {
    background: #921621 none repeat scroll 0% 0%;
    box-shadow: 0px 4px #000;
    color: #FFF;
    font-family: Tahoma;
}

/* Some hover effects */
.keys span:hover {
    background: #b4edf7;
    box-shadow: 0px 4px #0C7C44;
    color: #000;
}

.keys span.eval:hover {
    background: #026e82;
    box-shadow: 0px 4px #b4edf7;
    color: #000;
}

.top span.clear:hover {
    box-shadow: 0px 4px #b4edf7;
    color: #000;
}

/* Simulating "pressed" effect on active state of the keys by removing the box-shadow and moving the keys down a bit */
.keys span:active {
    box-shadow: 0px 0px #6b54d3;
    top: 4px;
}

.keys span.eval:active {
    box-shadow: 0px 0px #717a33;
    top: 4px;
}

.top span.clear:active {
    top: 4px;
    box-shadow: 0px 0px #d3545d;
}

/*

RESPONSTABLE 2.0 by jordyvanraaij
  Designed mobile first!

If you like this solution, you might also want to check out the 1.0 version:
  https://gist.github.com/jordyvanraaij/9069194

*/
.responstable {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: #FFF;
    color: #024457;
    border-radius: 10px;
    border: 1px solid #167F92;
}
.responstable tr {
    border: 1px solid #D9E4E6;
}
.responstable tr:nth-child(odd) {
    background-color: #EAF3F3;
}
.responstable th {
    display: none;
    border: 1px solid #FFF;
    background-color: #167F92;
    color: #FFF;
    padding: 1em;
    text-align: center;
}
.responstable th:first-child {
    display: table-cell;
}
.responstable th:nth-child(2) {
    display: table-cell;
}
.responstable th:nth-child(2) span {
    display: none;
}
.responstable th:nth-child(2):after {
    content: attr(data-th);
}
@media (min-width: 480px) {
    .responstable th:nth-child(2) span {
        display: block;
    }
    .responstable th:nth-child(2):after {
        display: none;
    }
}
.responstable td {
    display: block;
    word-wrap: break-word;
    max-width: 7em;
}
.responstable td:first-child {
    display: table-cell;
    border-right: 1px solid #D9E4E6;
}
@media (min-width: 480px) {
    .responstable td {
        border: 1px solid #D9E4E6;
    }
}
.responstable th, .responstable td {
    margin: .5em 1em;
}
@media (min-width: 480px) {
    .responstable th, .responstable td {
        display: table-cell;
        padding: 1em;
    }
}

.responstable input[type=number] {
    -moz-appearance:textfield;
    width: 33%;
    -webkit-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
}

.responstable input[type=number]:focus {
    outline: none;
    width: 50%;
}

.responstable input[type=number]::-webkit-inner-spin-button, 
.responstable input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

#label_warning:hover {
    color: #6B0C0A;
    cursor: pointer;
}